@using DotNetBatch14MTZO.Charts.Models.NyiNyi
@using Newtonsoft.Json

@{
    BarChartSeriModel[] _series = Model.Series;
}

<div id="chart"></div>

@section scripts {
    <script>
        
        const _series = @Html.Raw(JsonConvert.SerializeObject(_series));

       
        const chartSeries = _series.map(series => ({
            name: series.Name,
            data: series.Data.map(data => ({
                x: data.X,
                y: data.Y,
                goals: data.Goals.map(goal => ({
                    name: goal.Name,
                    value: goal.Value,
                    strokeWidth: goal.StrokeWidth,
                    strokeHeight: goal.StrokeHeight,
                    strokeColor: goal.StrokeColor,
                    strokeLineCap: goal.StrokeLineCap,
                    strokeDashArray: goal.StrokeDashArray
                }))
            }))
        }));

        var options = {
            series: chartSeries,
            chart: {
                height: 350,
                type: 'bar'
            },
            plotOptions: {
                bar: {
                    horizontal: true,
                }
            },
            colors: ['#00E396'],
            dataLabels: {
                formatter: function(val, opt) {
                    const goals =
                        opt.w.config.series[opt.seriesIndex].data[opt.dataPointIndex]
                            .goals;

                    if (goals && goals.length) {
                        return `${val} / ${goals[0].value}`;
                    }
                    return val;
                }
            },
            legend: {
                show: true,
                showForSingleSeries: true,
                customLegendItems: ['Actual', 'Expected'],
                markers: {
                    fillColors: ['#00E396', '#775DD0']
                }
            }
        };

       
        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>
}
